---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/globals.css";
import "../../styles/blog-post.css";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post: CollectionEntry<"blog">) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post }: { post: CollectionEntry<"blog"> } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title}>
  <!-- show hero image if it is set -->
  {post.data.heroImage && <img src={post.data.heroImage} width={1000} alt="" />}

  <h1>{post.data.title}</h1>
  <h4>{post.data.description}</h4>
  <h5>
    {
      post.data.pubDate.toLocaleDateString("en-nz", {
        year: "numeric",
        month: "short",
        day: "numeric",
      })
    }
  </h5>
  {
    post.data.updatedDate && (
      <h6>
        Last updated on{" "}
        {post.data.updatedDate.toLocaleDateString("en-nz", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })}
      </h6>
    )
  }

  <Content />
</BaseLayout>
