#navigation {
  padding-top: 60px;
  padding-bottom: 60px;
  border: 2px solid var(--accent);
  font-family: monospace;
  width: 200px;
  max-width: 200px;
}

#navigation a {
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 2;
}
