---
import "../styles/globals.css";
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Coding Corner</title>
  </head>
  <body>
    <h1>Welcome to codingcorner.dev!</h1>
    <h2>You've found my corner of the internet!</h2>

    <div id="navigation">
    <nav>
      <a href="/blog">Blog Link</a>
      <a href="/guestbook">Guestbook</a>
    </nav>
    </div>
  </body>
</html>
