---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/index.css";
---

<MainLayout>
  <h1>Welcome to codingcorner.dev!</h1>
  <img src="/new.gif" alt="New!" />
  <h2>You've found my corner of the internet!</h2>

  <div id="navigation">
    <nav>
      <a href="/blog">Blog</a>
      <a href="/contact">Contact</a>
      <a href="/guestbook">Guestbook</a>
    </nav>
  </div>
</MainLayout>
